.textCenter {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: -webkit-linear-gradient(45deg, #671ae5,#f79900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body {
  width: 100%;
  height: 100%;
}